#hakkimdakiler{
    margin-top: 1%;
    text-align: center;

}
.resim{
    object-fit: cover;
}
.resim:hover{
    padding: 5%;
}
.baslik{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}