.sectionbilgiler{
    background-color:cornsilk;
    margin-top: 1%;
}
.headerbilgiler{
    font-size: large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.section2bilgiler{
    background-color:cornsilk;
    margin-top: 1%;
}
.header2bilgiler{
    font-size: large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.section3bilgiler{
    background-color:cornsilk;
    margin-top: 1%;
}
.header3bilgiler{
    font-size: large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.section4bilgiler{
    background-color:cornsilk;
    margin-top: 1%;
}
.header4bilgiler{
    font-size: large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}